@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #efe3c7;
  --color-secondary: #8aa99d;

  --font-mono: "Gravitica Mono", "monospace";
  --font-primary: "Helvetica", "sans-serif";
}

@utility text-small {
  font-family: var(--font-mono);
  font-size: 1.25rem;
  color: var(--color-primary);
  letter-spacing: -0.04em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
@utility text-large {
  font-family: var(--font-primary);
  font-size: clamp(
    2.5rem,
    calc(2.5rem + 1 * ((100vw - 23.4375rem) / 40.5625)),
    3.5rem
  );
  color: var(--color-primary);
  letter-spacing: -0.06em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px var(--color-primary);
}

@utility button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-transform: uppercase;
  font-family: var(--font-mono);
  letter-spacing: -0.04em;
  font-weight: 500;
  padding: 0 1rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  cursor: pointer;
}

@utility pill {
  cursor: pointer;
  border-radius: 5rem;
  border: 2px solid var(--color-primary);
  padding-inline: 0.5rem;
  height: 1.75rem;
  color: var(--color-primary);
  text-transform: uppercase;
  font-family: var(--font-mono);
  letter-spacing: -0.04em;
  font-weight: 500;
  white-space: nowrap;
  width: fit-content;

  input {
    width: 0;
  }

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

  &:has(:checked) {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}

html {
  background-color: var(--color-primary);
  /* background-image: url("/img/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
  min-height: 100lvh;
  padding: 2rem;
}
